<div class="half-width">
  {{outlet}}
</div>
<div class="half-width">
  {{#log-output lines=logger.lines as |line|}}
    {{line.component}}#{{line.hook}} ({{#argument-list arguments=line.args as |arg|}}<span class="arg" {{action 'showArgumentModal' arg.value}}>{{arg.type}}</span>{{/argument-list}})
  {{/log-output}}
</div>

{{#if isShowingArgumentModal}}
  {{#modal-dialog close="closeArgumentModal"}}
  <div class="argument-modal"><pre>{{{present-arguments currentArgument}}}</pre>
  </div>
  {{/modal-dialog}}
{{/if}}
